@(pname: String, ptext: String, pvalues: List[String])
<div class="col-md-4">
    <div class="jumbotron">
        <label for="@pname">
            @ptext
        </label>
        <div class="radio">
            <label>
                @for(t <- 0 to pvalues.length -1){
                    <input name="@pname" value="@pvalues(t)" type="radio"
                    @if( t == 0){ checked="checked" }
                    /> @pvalues(t) <br />
                }
            </label>
        </div>
    </div>
</div>